@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row row-cols-2">
  <div class="col-md-4 pb-5 text-center mt-5">
    <img src="@Model.Avatar" width="200" height="200" class="rounded-circle mx-auto" id="ravatar">
    <span for="avatar-file" class="edit-button" role="button" data-field="avatar" data-field2="Фото профиля"><i class="bi bi-pencil fs-3"></i></span>
  </div>
  <div class="col-md-6 pb-5">
    <div class="mt-5">
      <a asp-action="Create" asp-controller="Resume" type="button" class="btn btn-outline-success rounded-3">Создать резюме</a>
    </div>
  </div>
</div>

<div class="row row-cols-2">
  <div class="col-7 px-5">
    <table class="table table-light table-bordered mx-auto">
      <tbody>
      <tr>
        <td>Имя пользователя</td>
        <td id="rusername">@Model.UserName</td>
        <td><span class="edit-button text-primary" role="button" data-field="username" data-field2="Имя пользователя">Изменить</span></td>
      </tr>
      <tr>
        <td >Email</td>
        <td id="remail">@Model.Email</td>
        <td><span class="edit-button text-primary" role="button" data-field="email" data-field2="Email">Изменить</span></td>
      </tr>
      <tr>
        <td >Пароль</td>
        <td id="rpassword">***</td>
        <td><span class="edit-button text-primary" role="button" data-field="password" data-field2="Пароль">Изменить</span></td>
      </tr>
      <tr>
        <td >Номер телефона</td>
        <td id="rphone">@Model.PhoneNumber</td>
        <td><span class="edit-button text-primary" role="button" data-field="phone" data-filed2="Номер телефона">Изменить</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" id="change-div">
  </div>
</div>
<div class="col-11 mx-auto mt-5">
  <div class="text-center">
    <h2 class="">Мои резюме</h2>
  </div>
  <div class="row row-cols-1 row-sm-cols-2 d-flex mt-4 g-4">
    @if (Model.Resumes.Count > 0 && Model.Resumes != null)
    {
      @foreach (var resume in Model.Resumes)
          {
            <div class="col col-12 col-sm-6 border border-primary rounded-3 resume">
              <div class="job-item py-4">
                <div class="row">
                  <div class="col-12 d-flex align-items-center">
                    <div class="text-start ps-4">
                      <h5 class="mb-3">@resume.Title</h5>
                      <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>Expected Salary: @resume.ExpectedSalary</span>
                      <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>
                        <span id="editTime-@resume.Id">
                          @if (resume.EditedTime != null)
                          {
                            <span>Updated Time:</span>
                          }
                          @resume.EditedTime</span></span>
                    </div>
                  </div>
                  <div class="col-12 mt-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                    <div class="d-flex mb-3">
                      <span class="text-primary me-3 publicResume" role="button" data-field="@resume.Id"> <span id="publicIdentBtn-@resume.Id"></span></span>
                      <a class="text-primary rounded-3" asp-action="Details" asp-controller="Resume" asp-route-id="@resume.Id">Редактировать</a>
                      <span class="text-primary mx-3 updateResume " role="button" data-field="@resume.Id">Обновить</span>
                      <span class="text-danger deleteResume " role="button" data-field="@resume.Id">Удалить</span>
                    </div>
                    <input type="hidden" id="isPublished-@resume.Id" value="@resume.Published"/>
                    <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Created Time: @resume.CreatedTime</small>
                    <small class="text-truncate mt-3"><i class="far fa-calendar-alt text-primary me-2"></i><span id="publicIdent-@resume.Id"></span></small>
                  </div>
                </div>
              </div>
            </div>
          }
    }
    
  </div>

</div>


@section Scripts
{
  <script>
    let editCheckUsernameEmail = '@Url.Action("EditCheckUsernameEmail", "Validation")';
    let edit = '@Url.Action("Edit", "Applicant")';
    let  updateUrl = '@Url.Action("Update", "Resume")';
    let deleteUrl = '@Url.Action("Delete", "Resume")';
    let publicUrl = '@Url.Action("Public", "Resume")';
    let role = 'applicant';
    let resumeModel = @Html.Raw(Json.Serialize(Model.Resumes.Select(p => p.Id)));
                
  </script>

}

