@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row row-cols-2">
  <div class="col-md-4 pb-5 text-center mt-5">
    <img src="@Model.Avatar" width="200" height="200" class="rounded-circle mx-auto" id="ravatar">
    <span for="avatar-file" class="edit-button" role="button" data-field="avatar" data-field2="Фото профиля"><i class="bi bi-pencil fs-3"></i></span>
  </div>
  <div class="col-md-6 pb-5">
    <div class="mt-5">
      <a asp-action="Create" asp-controller="Resume" type="button" class="btn btn-outline-success rounded-3">Создать резюме</a>
    </div>
  </div>
</div>

<div class="row row-cols-2">
  <div class="col-7 px-5">
    <table class="table table-light table-bordered mx-auto">
      <tbody>
      <tr>
        <td>Имя пользователя</td>
        <td id="rusername">@Model.UserName</td>
        <td><span class="edit-button text-primary" role="button" data-field="username" data-field2="Имя пользователя">Изменить</span></td>
      </tr>
      <tr>
        <td >Email</td>
        <td id="remail">@Model.Email</td>
        <td><span class="edit-button text-primary" role="button" data-field="email" data-field2="Email">Изменить</span></td>
      </tr>
      <tr>
        <td >Пароль</td>
        <td id="rpassword">***</td>
        <td><span class="edit-button text-primary" role="button" data-field="password" data-field2="Пароль">Изменить</span></td>
      </tr>
      <tr>
        <td >Номер телефона</td>
        <td id="rphone">@Model.PhoneNumber</td>
        <td><span class="edit-button text-primary" role="button" data-field="phone" data-filed2="Номер телефона">Изменить</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" id="change-div">
  </div>
</div>

@section Scripts
{
  <script>
    let editCheckUsernameEmail = '@Url.Action("EditCheckUsernameEmail", "Validation")';
    let edit = '@Url.Action("Edit", "Applicant")';
    let role = 'applicant';
  </script>


}

