@model List<Vacancy>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="main-container pt-5">
    <div class="container py-5 mb-5 text-center">
        <p class="main-title fs-1 mx-auto mt-5">Работа найдется для каждого</p>
    </div>
</div>

<div class="second-container mt-5">
    <div class="container mt-5">
        <div class="col col-12 col-md-8 mt-5 py-5 mx-auto">
            <div class="row row-cols-2 mt-4">
                <div class="col-9">
                    <input class="form-control form-control-lg border-primary rounded-1" type="text"
                           placeholder="Профессия, должность или компания" aria-label=".form-control-lg example">
                </div>
                <div class="col-3">
                    <button class="btn btn-primary rounded-1 btn-lg"> Найти работу</button>
                </div>
            </div>
            <div class="mt-4">
                <a href="#" class="text-primary mt-5">Я ищу сотрудника</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        
        @if (Model.Count > 0)
        {
            <div class="col-6 mx-auto">
                <form asp-action="Index" method="get" class="mb-4">
                    <div class="input-group mt-2">
                        <label for="category"><span class="text-danger"></span></label>
                        <div class="input-group">
                            <select class="form-select" name="filter" id="category">
                                <option disabled="disabled" selected="selected">Выберите Категорию</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category">@category</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" id="filter">Фильтровать</button>
                    </div>
                </form>
           

            </div>
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Список вакансий</h1>
            @foreach (var vacancy in Model)
            {
                <div class="job-item p-4 mb-4">
                    <div class="row g-4">
                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                            <img class="flex-shrink-0 img-fluid border rounded" src="@vacancy.User.Avatar" alt="" style="width: 80px; height: 80px;">
                            <div class="text-start ps-4">
                                <h5 class="mb-3">@vacancy.Name</h5>
                                <p class="">@vacancy.Demands</p>
                                <span class="text-truncate me-3"><i class="bi bi-blockquote-right text-primary me-2"></i>@vacancy.Category</span>
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Требуемый опыт работы от @vacancy.ExperienceFrom до @vacancy.ExperienceTo лет</span>
                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$@vacancy.Salary</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                            <div class="d-flex mb-3">
                                <a class="text-primary" asp-action="Details" asp-controller="Vacancy" asp-route-id="@vacancy.Id"> Перейти к вакансии </a>
                                <button class="btn btn-primary ms-3 reply-btn" type="button" data-field="@vacancy.Id">Откликнуться</button>
                            </div>
                            <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Added Time: @vacancy.CreatedTime</small>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let sendMessage = '@Url.Action("SendMessage", "Chat")';
    let currentUserResumes = JSON.parse('@Html.Raw(ViewBag.CurrentUserResumes)');
    let chatResults =  '@Url.Action("ChatResults", "Chat")';
    let currentUserId = '@ViewBag.CurrentUserId';
    
  
    
</script>
