@model List<Message>
<style>
  .container-chat {
    width: 80%;
    letter-spacing: 0.5px;
    height: 80%;
    position: fixed;
    border: none;
  }
  
  .msg-header {
    width: 80%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    position: fixed;
    background-color: #efefef;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .msgimg {
    width: 50px;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
    float: left;
  }
  
  .container1 {
    border: none;
    width: 270px;
    height: auto;
    float: left;
    margin: 0;
  }
  
  .active {
    width: 150px;
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;
  
  }
  
  .chat-page {
    padding: 0 0 50px 0;
  }
  
  .msg-inbox {
    border : 1px solid #ccc;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  
  .chats {
    padding: 30px 15px 0 25px;
  }
  
  
  .msg-page {
    max-height: 500px;
    overflow-y: auto;
  }
  
  .msg-bottom {
    border-top: 1px solid #ccc;
    position: relative;
    height: 11%;
    background-color: rgb(239 239 239);
  }
  .input-group-chat {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  .input-group-chat>.form-control-chat {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
  
  .form-control-chat {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
  }
  
  input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
  }
  
  .send-icon {
    font-weight: bold !important;
  }
  
  
  received-chats-img {
    display: inline-block;
    width: 50px;
    float: left;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
  }
  
  .received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }
  .received-msg-inbox {
    width: 57%;
  }
  
  .received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
  }
  p {
    overflow-wrap: break-word;
  }
  
  .time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  
  
  .outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
  }
  
  .outgoing-chats-msg p {
    background-color: #3a12ff;
    background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
  }
  .outgoing-chats-msg {
    float: right;
    width: 46%;
  }
  
  .outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
  }

</style>
@if (Model.Count > 0)
{
  @foreach (var message in @Model)
              {
                if (message.UserId != @ViewBag.CurrentUser.Id)
                {
                  <div class="received-chats mt-3">
                    <div class="received-chats-img">
                      @if (message.User != null)
                      {
                        <a asp-action="Profile" asp-controller="Account" asp-route-id="@message.UserId"><img src="@message.User.Avatar" class="msgimg"/></a>
                      }
                    </div>
                    <div class="received-msg">
                      <div class="received-msg-inbox">
                        @if (message.User != null)
                        {
                          <a class="nav-link text-dark" asp-action="Profile" asp-controller="Account" asp-route-id="@message.UserId"><span >@message.User.UserName</span></a>
                        }
                        @if (@message.Resume != null)
                        {
                          <div class="job-item py-4">
                            <div class="row">
                              <div class="col-12 d-flex align-items-center">
                                <div class="text-start ps-4">
                                  <h5 class="mb-3">@message.Resume.Title</h5>
                                  <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>Expected Salary: @message.Resume.ExpectedSalary</span>
                                </div>
                              </div>
                              <div class="col-12 mt-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Created Time: @message.Resume.CreatedTime</small>
                              </div>
                            </div>
                          </div>
                        }
                        @if (@message.MessageContent != null)
                        {
                          <p > @message.MessageContent</p>
                        }
                        <span class="time">@message.SentTime</span>
                      </div>
                    </div>
                  </div>
                }
                else
                {
                  <div class="outgoing-chats">
                    <div class="outgoing-chats-img">
                      @if (message.User != null)
                      {
                        <a asp-action="Profile" asp-controller="Account" asp-route-id="@message.UserId"><img src="@message.User.Avatar" class="msgimg"/> </a>
                      }
                    </div>
                    <div class="outgoing-msg">
                      <div class="outgoing-chats-msg">
                        @if (message.User != null)
                        {
                          <a class="nav-link text-dark" asp-action="Profile" asp-controller="Account" asp-route-id="@message.UserId"><span>@message.User.UserName</span></a>
                        }
                        @if (@message.Resume != null)
                        {
                          <div class="job-item py-4">
                            <div class="row">
                              <div class="col-12 d-flex align-items-center">
                                <div class="text-start ps-4">
                                  <h5 class="mb-3">@message.Resume.Title</h5>
                                  <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>Expected Salary: @message.Resume.ExpectedSalary</span>
                                </div>
                              </div>
                              <div class="col-12 mt-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Created Time: @message.Resume.CreatedTime</small>
                              </div>
                            </div>
                          </div>
                        }
                        @if (@message.MessageContent != null)
                        {
                          <p> @message.MessageContent</p>
                        }
                        <span class="time">@message.SentTime</span>
                      </div>
                    </div>
                  </div>
                }
              }

}

